* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("Wallpaper.jpg") no-repeat;
}

.flex-container__calculator {
  padding: 10px;
  border-radius: .8rem;
  border: 2px solid rgb(148, 6, 96);
  background-color: rgb(22, 22, 71);
  opacity: .8;
}

.grid-container__calculator {
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: repeat(6, 7rem);
  gap: 1rem;
  text-align: center;
  justify-content: center;
  

  div {
    grid-column-start: 1;
    grid-column-end: 5;
    
    input {
      display: block;
      width: 31rem;
      border: none;
      font-size: 2.6rem;
      text-align: end;
      color: black;
      background-color: lightgray;

      &#infoValue { 
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        color: rgb(100, 100, 100);
      }
      &#displayValue { 
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
    }
  }

  .operator {
    background-color: coral;
  }

  .digit, .decimal {
    background-color: darkgray;
  }

  .equals, .clear, .delete, .plusMinus {
    background-color: coral;
  }

  button:nth-child(17) {
    grid-column-start: 4;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .grid-item__keys {
    border: none;
    border-radius: 1rem;
    border: 1px solid black;

    &:hover {
      filter: brightness(125%);

      &:active {
        filter: brightness(180%)
      }
    }
  }

  .grid-item__keys,
  .grid-item__display {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 800px) {

  .grid-container__calculator {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(6, 4rem);

    div input {
      width: 19rem;
      font-size: 1.8rem;
    }

    .grid-item__keys,
    .grid-item__display {
      font-size: 1.8rem;
    }
  }
}