* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
}

.flex-container__calculator {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.grid-container__calculator {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  gap: 20px;
  text-align: center;
  justify-content: center;
}
.grid-container__calculator input:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 5;
}
.grid-container__calculator button:nth-child(14) {
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}
.grid-container__calculator .grid-item__keys, .grid-container__calculator .grid-item__display {
  border: 1px solid black;
}